# =========================
# Java / Maven
# =========================

# Compiled files
*.class

# Maven
target/

# Package files
*.jar
*.war
*.ear
*.nar

# Logs
*.log
*.dumpstream
hs_err_pid*
replay_pid*

# =========================
# IDEs
# =========================

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================

*.tmp
*.temp